#skills{
    height:650px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
#Resume{
    margin-top:210px;
}
@media screen and (max-width:1200px) and (min-width:600px){
    #image{
        width:350px;
        
    }
}
@media screen and (max-width:600px) {
    #image{
        width:150px; 
    }
}
